body {
    margin: 0;
    background-color: rgb(182, 182, 182);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scoreboard {
    width: 200px;
    height: 80px;
    background: rgb(71, 66, 66);
    border: 5px solid rgb(99, 99, 99);
    border-radius: 8px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}
.scoreboard small {
    font-size: 20px;
}
.genius {
    display: grid;
    grid-template-areas:'green red'
                        'yellow blue';
    grid-gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: blue;
    background: blue;
    border-bottom-right-radius: 100%;
}
.yellow {
    grid-area: yellow;
    background: yellow;
    border-bottom-left-radius: 100%;
}
.red {
    grid-area: red;
    background: red;
    border-top-right-radius: 100%;
}
.green {
    grid-area: green;
    background: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.5;
}